
.background-image {
    background-image: url('../../assets/Sample.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .background-image {
        height: 300px;
    }

    .overlay {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}


@media (max-width: 480px) {
    .background-image {
        height: 200px;
    }

    .overlay {
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}
